@import "~bootstrap/scss/bootstrap";

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$teal: rgb(12, 116, 68);
$teal-dark: rgb(8, 80, 47);
$red: rgb(140, 12, 12);
$red-dark: rgb(119, 11, 11);
$radius: 0.5rem;
$img-filter: drop-shadow(0.2rem 0.1rem 0.1rem rgb(87, 87, 87));
$img-filter-dark: drop-shadow(0.1rem 0.1rem 0.1rem rgb(34, 34, 34));
$shadow: 0.1rem 0.1rem 0.1rem rgb(126, 128, 128);
$shadow-dark: 0.1rem 0.1rem 0.1rem rgb(34, 34, 34);
$text-light: 0.2px 0.5px rgb(179, 179, 179);
$text-dark: 0.2px 0.6px rgb(34, 34, 34);

@mixin button {
    background-color: $teal-dark;
    &:hover {
        background-color: $teal;
    }
}

html, body, #root, .App {
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
}

input[type] {
    &:focus {
        box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.7);
        border: 1px solid rgb(171, 171, 171);
    }
}

.btn {
    border: none;
    border-radius: $radius;
    box-shadow: $shadow;
}

.navbar {
    font-family: "Roboto Slab", serif;

    .nav-brand-name {
        color: $black;
        @include font-size(1.1rem);
    }

    .logo-png {
        max-width: 2rem;
    }

    .nav-home {
        color: $black;
        @include font-size(0.9rem);
    }

    .nav-logged-wrapper {
        .fa-user {
            color: $black;
            @include font-size(0.7rem);
        }

        .nav-logged-user {
            color: $black;
            @include font-size(0.8rem);
        }

        .nav-logout-btn {
            @include button();
            @include font-size(0.7rem);
        }
    }

    .nav-login-btn {
        @include button();
        @include font-size(0.8rem);
    }
}

.login-wrapper {
    background-color: rgb(242, 242, 242);
    border-radius: $radius;
    box-shadow: $shadow;

    .login-form {
        min-height: 70vh;
 
        .login-title {
            @include font-size(1.4rem);
        }

        .login-group {
            width: 80%;

            .login-label {
                @include font-size(0.9rem);
            }

            .login-input {
                @include font-size(0.8rem);
            }
        }

        .login-btn {
            width: 50%;
            @include button();
            @include font-size(0.9rem);
        }
    }
}

.home {
    min-height: 75vh;

    .content {
        max-width: 100%;
        height: auto;
        box-shadow: $shadow;
        border-radius: $radius;

        .card-png {
            max-width: 11rem;
            filter: $img-filter;
        }

        .content-table {
            align-self: flex-start;

            .content-table-top {
                @include font-size(0.8rem);
            }

            .content-table-bottom {
                @include font-size(0.8rem);
            }
        }

        .details-btn {
            @include button();
            @include font-size(0.7rem);
        }
    }

    .add-btn {
        width: 50%;
        background-color: $red;
        &:hover {
            background-color: $red-dark;
        }
    }
}

.modal-content {
    padding: 0.5rem;

    .add-card-form {
        .add-form-group {
            width: 80%;

            .add-form-label {
                @include font-size(0.8rem);
            }

            .add-form-input {
                @include font-size(0.8rem);
            }
        }
        .submit-btn {
            width: 70%;
            @include button();
        }
    }
}

.card-details {
    background-image: linear-gradient(to left, rgb(104, 160, 133), rgb(28, 98, 64));
    border-radius: $radius;
    box-shadow: $shadow;
    font-family: "Roboto Slab", serif;

    .bank-name {
        color: $white;
        @include font-size(1.2rem);
    }

    .card-btn {
        @include font-size(0.8rem);

        &:first-child {
            background-color: $teal-dark;
            box-shadow: $shadow-dark;
            &:hover {
                background-color: rgb(6, 58, 34);
            }
        }

        &:nth-child(2) {
            background-color: rgb(189, 0, 0);
            box-shadow: $shadow-dark;
            &:hover {
                background-color: rgb(159, 0, 0);
            }
        }
    }

    .chip-png {
        max-width: 13rem;
        filter: $img-filter-dark;
    }

    .details-inner-wrapper {
        border-bottom: 1px solid $white;
        
        .details-title {
            color: $black;
            @include font-size(1.3rem);
        }

        .details-p {
            color: $white;
            @include font-size(1.3rem);
        }

        .details-num {
            @include font-size(1.6rem);
        }

        .fa-pin {
            background-color: transparent;
            box-shadow: none;
            &:hover {
                color: rgb(207, 207, 207);
            }
        }
    }

    .amount-wrapper {
        .details-title {
            color: $black;
            @include font-size(1.3rem);
        }

        .details-p {
            color: $white;
            @include font-size(1.3rem);
        }

        .back-btn {
            @include font-size(0.8rem);
            background-color: rgb(63, 63, 63);
            box-shadow: $shadow-dark;
            &:hover {
                background-color: rgb(42, 42, 42);
            }
        }
    }
}

.footer {
    position: sticky;
    top: 100%;
    width: 100%;
    color: $black;
    @include font-size(0.8rem);
    background-color: rgb(234, 234, 234);
}

@media (max-width: 768px) {
    .home {
        .content {
            flex-direction: column;
            gap: 1rem;

            .card-png {
                max-width: 13rem;
            }

            .content-table {
                align-self: center;
            }
        }

        .add-btn {
            width: 60%;
        }
    }
}

@media (max-width: 576px) {
    .login-wrapper {
        .login-form {
            min-height: 73vh;

            .login-title {
                @include font-size(1.6rem);
            }

            .login-group {
                width: 100%;

                .login-label {
                    @include font-size(1rem);
                }
    
                .login-input {
                    @include font-size(0.9rem);
                }
            }
    
            .login-btn {
                width: 80%;
            }
        }
    }

    .modal-content {
        .add-card-form {
            .add-form-group {
                width: 100%;
            }
        }
    }

    .card-details {
        .bank-name {
            @include font-size(1rem);
        }
    
        .chip-png {
            max-width: 9rem;
        }
    
        .details-inner-wrapper {         
            .details-title {
                @include font-size(1rem);
            }
    
            .details-p, .form-control {
                @include font-size(0.9rem);
            }
    
            .details-num {
                @include font-size(1.1rem);
            }
        }

        .amount-wrapper {
            .details-title {
                @include font-size(1rem);
            }
    
            .details-p, .form-control {
                @include font-size(0.9rem);
            }
        }
    }
}

@media (max-width: 460px) {
    .navbar {
        flex-direction: column;

        .nav-login-btn {
            margin-top: 0.75rem;
        }
     }

     .home {
        .content {
            .content-table {
                .content-table-top {
                    @include font-size(0.7rem);
                }
    
                .content-table-bottom {
                    @include font-size(0.7rem);
                }
            }
        }

        .add-btn {
            padding: 0.3rem;
        }
    }

    .card-details {
        .details-inner-wrapper {
            .cvv-details-wrapper, .pin-details-wrapper {
                text-align: center;
            }
            .pin-details-wrapper .col {
                justify-content: center;
            }
        }
    }    
}